In [4]:
import pandas 
import os

os.listdir()#viewing the files

['PHYSICS.xlsx',
 'WM.xlsx',
 'test.xlsx',
 '.ipynb_checkpoints',
 'Project.ipynb',
 'Chemistry .xlsx',
 'English .xlsx',
 'French .xlsx',
 'cs.xlsx',
 'Math.xlsx']

Physics_ABCD = pandas.read_excel('PHYSICS.xlsx' , sheet_name= 0 , header= None)
Physics_ABCD = Physics_ABCD.drop(Physics_ABCD.index[0:5])
Physics_AB = Physics_ABCD.iloc[:39 , :]
Physics_A = Physics_AB.iloc[:,1:6]
Physics_A

In [200]:
#Changing excel files to pandas DataFrame 

#________________________________________________PHYSICS_____________________________________________________


Physics_ABCD = pandas.read_excel('PHYSICS.xlsx' , sheet_name= 0 , header= None)
Physics_ABCD = Physics_ABCD.drop( Physics_ABCD.columns[15:] , 1)
Physics_A = Physics_ABCD.iloc[5:44 , 1: 7].drop(Physics_ABCD.columns[2] , 1).drop(Physics_ABCD.columns[4],1)
Physics_B = Physics_ABCD.iloc[5:44 , 9  : ].drop(Physics_ABCD.columns[10],1).drop(Physics_ABCD.columns[12],1)
Physics_C = Physics_ABCD.iloc[49: , 1: 7 ].drop(Physics_ABCD.columns[2] , 1).drop(Physics_ABCD.columns[4],1)
Physics_D = Physics_ABCD.iloc[49:81 , 9  : ].drop(Physics_ABCD.columns[10],1).drop(Physics_ABCD.columns[12],1)

Physics = [Physics_A,Physics_B,Physics_C,Physics_D]

#_____________________________________INTRODUCTION TO COMPUTER SCIENCE_________________________________________


CS_ABCD = pandas.read_excel('cs.xlsx' , sheet_name= 0 , header=None)
CS_A = CS_ABCD.iloc[6:45, 1 : 7].drop(CS_ABCD.columns[2] , 1).drop(CS_ABCD.columns[4] , 1)
CS_B = CS_ABCD.iloc[6:45 , 8 :14 ].drop(CS_ABCD.columns[9] , 1).drop(CS_ABCD.columns[11] , 1)
CS_C = CS_ABCD.iloc[51: , 1 :7 ].drop(CS_ABCD.columns[2] , 1).drop(CS_ABCD.columns[4] , 1)
CS_D = CS_ABCD.iloc[51:83 , 8:14].drop(CS_ABCD.columns[9] , 1).drop(CS_ABCD.columns[11] , 1)

CS = [CS_A,CS_B,CS_C,CS_D]



#_________________________________________________MATH________________________________________________________


Math_ABCD = pandas.read_excel('Math.xlsx' , header= None ).iloc[5: , :10]
Math_A = Math_ABCD.iloc[ : 39 , 1:5]
Math_B = Math_ABCD.iloc[ :39 , 6 : ]
Math_C = Math_ABCD.iloc[45:83 , 1:5]
Math_D = Math_ABCD.iloc[45 :77 , 6:]

Math = [Math_A,Math_B,Math_C,Math_D]
#________________________________________________CHEMISTRY___________________________________________________

Chemistry_ABCD = pandas.read_excel('Chemistry .xlsx' , header= None).iloc[5: , :]
Chemistry_A = Chemistry_ABCD.iloc[:39 , 1:5]
Chemistry_B = Chemistry_ABCD.iloc[:39 , 6:]
Chemistry_C = Chemistry_ABCD.iloc[44:82 , 1:5]
Chemistry_D = Chemistry_ABCD.iloc[44:76 , 6:]


Chemistry = [Chemistry_A,Chemistry_B,Chemistry_C,Chemistry_D]
#_________________________________________________ENGLISH____________________________________________________

English_ABCD = pandas.read_excel('English .xlsx' , header= None).iloc[5: , :10]
English_A = English_ABCD.iloc[:39 , 1:5]
English_B = English_ABCD.iloc[:39 , 6:]
English_C = English_ABCD.iloc[43:82 , 1:5]
English_D = English_ABCD.iloc[43:75 , 6:]

English = [English_A,English_B,English_C,English_D]
#__________________________________________________French___________________________________________________


French_ABCD = pandas.read_excel('French .xlsx' , header=None).iloc[5: , :10]
French_A = French_ABCD.iloc[:39 , 1:5]
French_B = French_ABCD.iloc[:39 , 6:]
French_C = French_ABCD.iloc[44:82 , 1:5]
French_D = French_ABCD.iloc[44:76 , 6:]

French = [French_A,French_B,French_C,French_D]
#_________________________________________________WorkingMethodology_______________________________________

WM_ABCD = pandas.read_excel('WM.xlsx' , header=None).iloc[ 6: , :14]
WM_A = WM_ABCD.iloc[:39 , 1:5].drop(WM_ABCD.columns[2:4],1)
WM_B = WM_ABCD.iloc[:39 , 10:].drop(WM_ABCD.columns[11:13],1)
WM_C = WM_ABCD.iloc[39:82 , 1:5].drop(WM_ABCD.columns[2:4],1)
WM_D = WM_ABCD.iloc[41:73 , 10:].drop(WM_ABCD.columns[11:13],1)

WM = [WM_A,WM_B,WM_C,WM_D]

Subjects = [English,CS,Math,Chemistry,Physics,French,WM]
###########################################################################################################

        
def main():
    global Subjects
    for group in range(1,4):
        Final_sheet = pandas.DataFrame([ list(English[group].iloc[:,0]),list( round(i,2) for i in sub(Subjects,group))])
        Final_sheet.to_excel("%i" ,%group)
    return
    

    
def sub(subjects,group):
    lst_of_eng = list(average_grade(English[group] , CC1=1 ,CC2=1.5,CC3=1.5 ))
    lst_of_cs = list(average_grade(CS[group] , CC1= 0.5,CC2=2,CC3=1.5))
    lst_of_chemistry = list(average_grade(Chemistry[group] , CC1= 0.75 ,CC2=0.75,CC3=1.5))
    lst_of_physics = list(average_grade(Physics[group] , CC1= 0.75 ,CC2=0.75,CC3=1.5))
    lst_of_math = list(average_grade(Math[group] , CC1= 0.75 ,CC2=0.75,CC3=1.5))
    lst_of_wm = list(average_grade(WM[group], CC3 = 1 ,num_of_exam=1))
    lst_of_french = list(average_grade(French[group], CC1 = 0.5 ,CC2=0.75,CC3=0.75))
    lst_of_sum = []
    for index in range(len(lst_of_eng)):
        sum = lst_of_eng[index] + lst_of_cs[index] + lst_of_chemistry[index] + lst_of_physics[index] + lst_of_math[index] + lst_of_wm[index] +lst_of_french[index]
        lst_of_sum.append(sum)
    return lst_of_sum                                                                

def average_grade(pd_frm,CC1 = 0.75,CC2 = 0.75,CC3 = 1.5,num_of_exam = 3):
    lst_of_grades = []
    if num_of_exam == 1:
        for ID in range(len(list(pd_frm.iloc[ : , 1 ]))):
            lst = list(pd_frm.iloc[ID  , 1:])
            avg = 0 
            avg += lst[0]*1/20
            lst_of_grades.append(avg)
        return lst_of_grades
    for ID in range(len(list(pd_frm.iloc[ : , 1 ]))): 
        avg = 0
        lst = []
        lst = list(pd_frm.iloc[ID  , 1:])
        if isinstance(lst[0],float) or isinstance(lst[0] , int):avg += lst[0]*CC1/20
        else: pass
        if isinstance(lst[1],float) or isinstance(lst[1] , int):avg += lst[1]*CC2/20
        else: pass
        if isinstance(lst[2] , float) or isinstance(lst[2],int):avg += lst[2]*CC3/20
        else:pass
        
        lst_of_grades.append(avg)
    
    return lst_of_grades


main()

             0      1
0   22022774.0  16.08
1   22023067.0  15.45
2   22023077.0  14.03
3   22023143.0  13.41
4   22022899.0  15.46
5   22022796.0  14.67
6   22022758.0  14.01
7   22022865.0  14.17
8   22022850.0  15.43
9   22022750.0  15.14
10  22023078.0  15.02
11  22022691.0  14.81
12  22022735.0  15.01
13  22022835.0  15.48
14  22022954.0  14.19
15  22022869.0  15.20
16  22022936.0  15.25
17  22022944.0  14.98
18  22022949.0  14.04
19  22022848.0  16.48
20  22022840.0  14.32
21  22022836.0  11.86
22  22023322.0  13.95
23  22023010.0  15.78
24  22023140.0  14.59
25  22022751.0  14.35
26  22022723.0  14.57
27  22022815.0  14.08
28  21922248.0  13.25
29  21923111.0  12.80
30  22022753.0  15.81
31  22023146.0  16.08
32  22023079.0  12.92
33  22022768.0  16.00
34  22022953.0  13.30
35  22022685.0  15.83
36  22023075.0  15.07
37  22022795.0  14.57
38  22022765.0  16.98